<!DOCTYPE html>
<html lang="en" class="f">
<head>
	<meta charset="UTF-8">
	<title>好人好事</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" href="../game/css/base.css">
</head>
<body>
		<a href="http://mp.weixin.qq.com/s?__biz=MzI5MTAxNDk5OA==&mid=404782627&idx=1&sn=7b8549679bb175e12e86975c7790df23&scene=1&srcid=0303DqRKlt1V2RQUQm34rOJl#rd" class="pf i-t">
			<img src="../game/images/i-title.jpg">
		</a>

		<div class="i-wrap i-wrap-d">
			<h4>
				<%-content.title %>
			</h4>
			<small>
				<%=content.author %>&nbsp;&nbsp;<%=content.creatTime %>
			</small>
			<div class="img-wrap fw">
				<img src="../game/images/new-img/<%=content.img %>" alt="" class="fl">
			</div>
			<p>
				<%-content.cm %>
			</p>

			<a class="i-p" href="/gamePage/index">我要玩</a>

			<br>
			<a href="http://www.cume.cc/mobile/photocomb.html" class="fw"><img class="fl" src="../game/images/down.png" alt=""></a>
		</div>
		<script src="../website/js/libs/jquery/dist/jquery.min.js"></script>
		<script>
			$(".i-wrap").css({
				"padding-top" : $(window).width() * 0.12 + "px"
			});
		</script>
</body>
</html>