<!DOCTYPE html>
<html lang="en" class="answer">
<head>
	<meta charset="UTF-8">
	<title>Facein有奖问卷</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" href="../../game/css/question.css">
</head>
<body>
	<input type="hidden" class="myInfo" value="<%=myInfo %>">
	<div class="fw">
		<img class="fl" src="../../game/images/question/answer-top.png" alt="">
	</div>
	<div class="title">
		<h2>
			3.你最喜欢哪个功能？
		</h2>
	</div>
	<div class="fw">
		<img class="fl" src="../../game/images/question/answer-top-1.png" alt="">
	</div>
	<div class="answer-body fw">
	<!--*************************************answer***********************************-->
	</div>
	<div class="fw answer-bottom">
		<span>第<i class="question-index">0</i>题，共10题</span>
		<img class="fl" src="../../game/images/question/answer-bottom.png" alt="">
	</div>

	<div class="tip">
		<div class="zz"></div>
		<div class="tip-container">
			<h2>提示</h2>
			<p>请您先答完这题</p>
			<div class="bnt">
				<a class="close" href="javascript:void(0)">我知道了</a>
				<a style="display:none" class="restart" href="javascript:void(0)">重新答题</a>
			</div>
		</div>
	</div>

	<div class="tip-2">
		<div class="zz"></div>
		<div class="tip-container">
			<h2>提示</h2>
			<p>请您先答完这题</p>
			<div class="bnt">
				<a style="display:none" class="restart" href="javascript:void(0)">重新答题</a>
				<a class="download" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.cm.photocomb">去下载</a>
			</div>
		</div>
	</div>

	<div class="answer-bnt">
		<a href="javascript:void(0)" class="answer-bnt-1">
			<img src="../../game/images/question/answer-bnt-1.png" alt="">
		</a>
		<a href="javascript:void(0)" class="answer-bnt-2">
			<img src="../../game/images/question/answer-bnt-2.png" alt="">
		</a>
		<a href="javascript:void(0)" class="answer-bnt-3" style="display:none">
			<img src="../../game/images/question/answer-bnt-3.png" alt="">
		</a>
	</div>


	<!--loading-->
	<div class="spinner">
	  <div class="spinner-container container1">
	    <div class="circle1"></div>
	    <div class="circle2"></div>
	    <div class="circle3"></div>
	    <div class="circle4"></div>
	  </div>
	  <div class="spinner-container container2">
	    <div class="circle1"></div>
	    <div class="circle2"></div>
	    <div class="circle3"></div>
	    <div class="circle4"></div>
	  </div>
	  <div class="spinner-container container3">
	    <div class="circle1"></div>
	    <div class="circle2"></div>
	    <div class="circle3"></div>
	    <div class="circle4"></div>
	  </div>
	</div>
	<script src="../../website/js/libs/jquery/dist/jquery.min.js"></script>
	<script src="../../game/js/jquery.json-2.4.min.js"></script>
	<script src="../../game/js/question.js"></script>
</body>
</html>