<!DOCTYPE html>
<html lang="en" class="index">
<head>
	<meta charset="UTF-8">
	<title>Facein有奖问卷</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" href="../../game/css/question.css">
</head>
<body>
	<div class="fw">
		<img class="index-1 fl" src="../../game/images/question/index-1.png" alt="">
	</div>
	<div class="index-text">
		此问卷请在使用过Facein app后作答，答题卡点赞数最高前三位可获得价值￥769的手机照片打印机一台（LG PD239）。<a href="javascript:void(0)" href="" class="index-bnt-3">查看答题规则</a>
	</div>
	<div class="index-bnt">
		<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.cm.photocomb" class="index-bnt-1"><img src="../../game/images/question/index-bnt-1.png" alt=""></a>
		<a href="answer" class="index-bnt-2"><img src="../../game/images/question/index-bnt-2.png" alt=""></a>
	</div>
	<div class="rule">
		<div class="zz"></div>
		<img class="rule-img" src="../../game/images/question/rule.png" alt="">
	</div>
	<div class="tip">
		<div class="zz"></div>
		<div class="tip-container">
			<h2>提示</h2>
			<p>请您先答完这题</p>
			<div class="bnt">
				<a class="close" href="javascript:void(0)">我知道了</a>
			</div>
		</div>
	</div>
	<script src="../../website/js/libs/jquery/dist/jquery.min.js"></script>
	<script src="../../game/js/jquery.json-2.4.min.js"></script>
	<script src="../../game/js/question.js"></script>
</body>
</html>